html, body{
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    
    font-size: 15px;
    background: grey;
    line-height: 1.64;
    margin: 0;
    overflow-x: hidden;
}



#nb1 img{
    width: 2.5rem;
    height: 2.5rem;
}

#nb1 .nav-link{
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
}

#nb1 .nav-link:hover{
    color: #8b2323;
}

.navbar.scrolled {
    background: #04269E;
    transition: background 500ms;
}

#nb1 .navbar-nav{
    margin-left: 40rem;
}